.header {
  margin-bottom: 16px;
}
.newsTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  @media screen and (max-width: 460px) {
    font-size: 18px;
  }
}

.newsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 20px;
    font-weight: 500;
    @media screen and (max-width: 460px) {
      font-size: 18px;
    }
  }

  a {
    color: #002BC5;
    text-decoration: underline;
  }
}







